<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title> Instagram 만들기 </title>
    <!-- Google Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css"/>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>


    <style>
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .modal_overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            display: none;
            background-color: rgba(0, 0, 0, 0.3);
            justify-content: center;
            flex-direction: column;
            align-items: center;
            z-index: 10000;
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: fixed;
            padding: 10px;
        }


    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg bg-light"
     style="position: fixed; width: 100%; background-color: whitesmoke; z-index: 999">
    <div class="container-fluid" style="justify-content: space-between;flex-wrap: nowrap; min-width: 1000px">
        <a class="navbar-brand" href="/main"><img style="width: 100px"
                                                  src="https://instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"></a>

        <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">

        <div style="display: flex">
            <a href="/main" style="color: black"><span class="material-icons">home</span></a>
            <span class="material-symbols-outlined">send</span>
            <span id="nav_bar_add_box" class="material-symbols-outlined">add_box</span>
            <span class="material-symbols-outlined">favorite</span>
            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="box" style="width: 25px; height: 25px; margin-left: 7px">
                        <img class="profile"
                             src="{% get_media_prefix %}{{ user.profile_image }}">
                    </div>
                </a>
                <ul class="dropdown-menu" style="left: -158px" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
                    <li><a id="omjm" class="dropdown-item"
                           href="https://www.martinguitar.com/guitars/custom-special-editions/OMJM-John-Mayer.html">Martin
                        omjm 사고싶다</a></li>
                    <li>
                        <hr class="dropdown-divider" style="border-color: darkgrey">
                    </li>
                    <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                </ul>
            </div>

        </div>
    </div>
</nav>

<div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 60px; background-color: whitesmoke ">
    <div style="width: 500px; min-width: 500px; height: 100%; margin-right: 300px; flex-direction: column">

        {% for feed in feeds %}
            <!-- 피드 -->
            <div style="border: solid 1px lightgray; background-color: white; border-radius: 12px; margin-bottom: 15px">
                <div style="display: flex; flex-direction: row; align-items: center">
                    <div class="box"
                         style="width: 40px; height: 40px; margin-left: 10px; margin-top: 10px; margin-bottom: 10px">
                        <img class="profile"
                             src="{% get_media_prefix %}{{ feed.profile_image }}">
                    </div>
                    <div style="margin-left: 5px; font-size: 15px">
                        <b> {{ feed.nickname }}</b>
                    </div>
                </div>

                <div><img style="width: 100%"
                          src="{% get_media_prefix %}{{ feed.image }}">
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; margin-left: 10px; margin-right: 5px; margin-top: 7px">
                    <div>
                        <!--좋아요 하트 코드-->
                        <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}" class="favorite material-icons"
                              style="font-size: 30px; color: rgba(219, 85, 90); cursor: pointer ">{% if feed.is_liked %}
                            favorite{% else %}favorite_border{% endif %}</span>
                            {#                        <span class="material-symbols-rounded" style="font-size: 30px; color: black">quick_phrases</span>#}
{#                        <span class="material-symbols-rounded" style="font-size: 30px; color: black">send</span>#}
                    </div>
                    <div>
                        <!--저장 북마크 코드-->
                        <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}" class="bookmark material-icons"
                              style="font-size: 30px; color: black; cursor: pointer ">{% if feed.is_marked %}
                            bookmark{% else %}bookmark_border{% endif %}</span>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; margin-left: 7px; margin-top: 7px">
                    <div class="box" style="width: 25px; height: 25px; margin-left: 7px; margin-top: -5px">
                        <img class="profile"
                             src="{% get_media_prefix %}{{ user.profile_image }}">
                    </div>
                    <div style="text-align: left; font-size: 13px; margin-left: 5px"><b>rjswn_97</b>님
                        <b>외 {{ feed.like_count }}명</b>이
                        좋아합니다
                    </div>
                </div>
                <div style="text-align: left; font-size: 14px; margin-left: 15px; margin-top: 3px">
                    <b>{{ feed.nickname }}</b>
                    {{ feed.content }}
                </div>
                <div id="reply_list_{{ feed.id }}">
                    <!--댓글 loop-->
                    {% for reply in feed.reply_list %}
                        <div style="text-align: left; font-size: 13px; margin-left: 15px; margin-top: 3px">
                            <b>{{ reply.nickname }}</b>
                            {{ reply.reply_content }}
                        </div>
                    {% endfor %}
                </div>


                {#                <div style="text-align: left; font-size: 13px; margin-left: 15px; margin-top: 3px; color: gray"> 댓글#}
                {#                    17,452개#}
                {#                    모두 보기#}
                {#                </div>#}
                {#                <div style="text-align: left; font-size: 9px; margin-left: 15px; margin-top: 6px; color: gray"> 6시간 전#}

                <div style="display: flex; flex-direction: row; align-items: center; ">
                    <input id="reply_{{ feed.id }}" type="text" class="form-control"
                           style="box-shadow: none; outline: none; margin-top: 3px"
                           placeholder="댓글 달기..">
                    <div feed_id="{{ feed.id }}" class="upload_reply"
                         style="width: 50px; color: cornflowerblue; font-weight: bold; cursor: pointer">
                        게시
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div style="width: 400px; height: 1000px; position: fixed; left: 62%; z-index: 0">
        <div style="display: flex; flex-direction: row; align-items: center; margin: 20px">
            <div class="box" style="width: 60px; height: 60px">
                <img class="profile"
                     src="{% get_media_prefix %}{{ user.profile_image }}">
            </div>
            <div style="margin-left: 10px; text-align: left">
                <div style="font-weight: bold; font-size: 16px">
                    {{ user.nickname }}
                </div>
                <div style="color: grey; font-size: 15px">
                    {{ user.name }}
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="font-size: 14px; font-weight: bold; color: grey; margin-left: 15px">
                회원님을 위한 추천
            </div>
            <div>
                <a href="#" style="font-weight: bold; color: black; font-size: 14px">모두 보기</a>
            </div>
        </div>

        <!--추천인 지디-->

        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px;  justify-content: space-between">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 40px; height: 40px">
                    <img class="profile"
                         src="https://dimg.donga.com/wps/NEWS/IMAGE/2022/04/04/112678239.2.jpg">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">
                        xxxibgdrgn
                    </div>
                    <div style="color: grey; font-size: 12px">
                        dlwlrma님 외 88명이 팔로우합니다
                    </div>
                </div>
            </div>
            <div style="font-size: 13px; margin-left: 10px">
                <a href="#" style="font-weight: bold; font-size: 14px">팔로우</a>
            </div>
        </div>

        <!--추천인 제니-->
        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px;  justify-content: space-between">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 40px; height: 40px">
                    <img class="profile"
                         src="https://mblogthumb-phinf.pstatic.net/MjAxOTEwMTNfMTcz/MDAxNTcwOTU2NTU1NzUx.bVf3taxy0NiGLR46lqaMqm2qBcftytIgjJEq3TwsUCUg.k3c3-ghmm7HTG9t_jYF8u68mqOcgJfgaXPL-7v7Wfu8g.JPEG.syr03051/EGlhl_HU4AANt26.jpg?type=w800">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">
                        jennierubyjane
                    </div>
                    <div style="color: grey; font-size: 12px">
                        회원님을 팔로우합니다
                    </div>
                </div>
            </div>
            <div style="font-size: 13px; margin-left: 10px">
                <a href="#" style="font-weight: bold; font-size: 14px">팔로우</a>
            </div>
        </div>


        <!--추천인 적재-->
        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px; justify-content: space-between">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 40px; height: 40px">
                    <img class="profile"
                         src="https://spnimage.edaily.co.kr/images/photo/files/NP/S/2021/03/PS21032600069.jpg">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">
                        jungjukjae
                    </div>
                    <div style="color: grey; font-size: 12px">
                        회원님을 팔로우합니다
                    </div>
                </div>
            </div>
            <div style="font-size: 13px; margin-left: 10px">
                <a href="#" style="font-weight: bold; font-size: 14px">팔로우</a>
            </div>
        </div>


        <!--추천인 로이킴-->
        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px; margin-bottom: 10px; justify-content: space-between">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 40px; height: 40px">
                    <img class="profile"
                         src="https://cdn.spotvnews.co.kr/news/photo/202012/393240_497714_3106.jpg">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">
                        roykimmusic
                    </div>
                    <div style="color: grey; font-size: 12px">
                        회원님을 팔로우합니다
                    </div>
                </div>
            </div>
            <div style="font-size: 13px; margin-left: 10px">
                <a href="#" style="font-weight: bold;  font-size: 14px">팔로우</a>
            </div>
        </div>


        <!--추천인 지수-->
        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px; margin-bottom: 10px; justify-content: space-between">
            <div style="display: flex; flex-direction: row">
                <div class="box" style="width: 40px; height: 40px">
                    <img class="profile"
                         src="https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202002/05/poctan/20200205161455662rjje.png">
                </div>
                <div style="margin-left: 10px; text-align: left">
                    <div style="font-weight: bold; font-size: 14px">
                        sooyaaa__
                    </div>
                    <div style="color: grey; font-size: 12px">
                        회원님을 팔로우합니다
                    </div>
                </div>
            </div>
            <div style="font-size: 13px; margin-left: 10px">
                <a href="#" style="font-weight: bold;  font-size: 14px">팔로우</a>
            </div>
        </div>
        <div style="margin-top: 30px; font-size: 12px; color: grey; text-align: left">
            소개 도움말 홍보센터 API <br> 개인정보처리방침 약관 위치 인기 계정 해시태그 언어
        </div>
        <div style="margin-top: 30px; font-size: 12px; color: grey; text-align: left">
            @INSTAGRAM CLONE CODING BY RJSWN
        </div>
    </div>
</div>

<!--첫번째 모달-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">
            </div>
            <div>
                새 이미지 올리기
            </div>
            <div style="width: 40px">
                <span id="close_upload1" class="material-symbols-outlined">close</span>
            </div>
        </div>
        <div class="img_upload_space"
             style="border-top: solid 1px grey;width: 753px; height: 520px; margin-top: 10px; margin-left: 13px">
        </div>
    </div>
</div>

<!--두번째 모달-->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="width: 40px">
            </div>
            <div>
                새 이미지 업로드
            </div>
            <div style="width: 40px">
                <span id="close_upload2" class="material-symbols-outlined">close</span>
            </div>
        </div>
        <div style="border-top: solid 1px grey;display: flex; flex-direction: row; margin-top: 10px; margin-left: 13px">
            <div class="img_upload_space"
                 style="width: 500px; height: 520px">
            </div>
            <div style="border-left: solid 1px grey">
                <div>
                    <textarea id="feed_content" class="form-control" style="width: 275px; height: 400px"
                              rows="5"></textarea>
                </div>
                <button id="feed_create_button" type="button" class="btn btn-primary" style="width: 100%">
                    공유하기
                </button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

<!-- JQuery -->
<script>
    let files;

    $('#nav_bar_add_box').click(function () {
        $('#first_modal').css({
            display: 'flex'
        })
        $(document.body).css({
            overflow: 'hidden'
        });
    });

    $(".favorite").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;

        let favorite_id = event.target.id;
        console.log(favorite_id);
        let favorite_text = $.trim($('#' + favorite_id).html());
        if (favorite_text == 'favorite') {
            $('#' + favorite_id).html('favorite_border')
        } else {
            $('#' + favorite_id).html('favorite')
        }

        $.ajax({
            url: "/content/like",
            data: {
                feed_id: feed_id,
                favorite_text: favorite_text
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log('에러');
            },
            complete: function () {
                console.log("완료");
            }
        });
    });

    $(".bookmark").click(function (event) {
        let feed_id = event.target.attributes.getNamedItem('feed_id').value;

        let bookmark_id = event.target.id;
        console.log(bookmark_id);
        let bookmark_text = $.trim($('#' + bookmark_id).html());
        if (bookmark_text == 'bookmark') {
            $('#' + bookmark_id).html('bookmark_border')
        } else {
            $('#' + bookmark_id).html('bookmark')
        }

        $.ajax({
            url: "/content/bookmark",
            data: {
                feed_id: feed_id,
                bookmark_text: bookmark_text
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log('에러');
            },
            complete: function () {
                console.log("완료");
            }
        });
    });

    $(".upload_reply").click(function (e) {
        let feed_id = e.target.attributes.getNamedItem('feed_id').value;
        let reply_id = 'reply_' + feed_id;
        let reply_content = $('#' + reply_id).val()
        if (reply_content.length <= 0) {
            alert("댓글을 입력하세요")
            return 0;
        }

        $.ajax({
            url: "/content/reply",
            data: {
                feed_id: feed_id,
                reply_content: reply_content
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("댓글 성공");
                $("#reply_list_" + feed_id).append("<div style='text-align: left; font-size: 13px; margin-left: 15px; margin-top: 3px'> <b>{{ user.nickname }}</b>" + reply_content + " </div>")
                {#location.replace('/main');#}

            },
            error: function (request, status, error) {
                console.log(JSON.stringify(error));
            },
            complete: function () {
                console.log("완료");
                $('#' + reply_id).val('');
            }
        });


    });

    $('#feed_create_button').click(function () {

        let file = files[0];
        let image = files[0].name;
        let content = $('#feed_content').val();
        let fd = new FormData();

        fd.append('file', file)
        fd.append('image', image)
        fd.append('content', content)


        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/main");
            }
        });
    });

    $('#close_upload1').click(function () {
        $('#first_modal').css({
            display: 'none'
        })
        $(document.body).css({
            overflow: 'visible'
        });
    });


    $('#close_upload2').click(function () {
        $('#second_modal').css({
            display: 'none'
        })
        $('.img_upload_space').on('hidden.bs.modal', function () {
            console.log('modal close');
            $(this).find('form')[0].reset()
        });

        $(document.body).css({
            overflow: 'visible'
        });
    });


    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles);

    function dragOver(e) {
        e.stopPropagation();
        e.preventDefault();
        if (e.type == "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "background-color": "gray",
                "outline-offset": "-10px"
            });
        }
    }


    function uploadFiles(e) {
        e.stopPropagation();
        e.preventDefault();


        e.dataTransfer = e.originalEvent.dataTransfer; //2
        files = e.target.files || e.dataTransfer.files;

        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }
        if (files[0].type.match(/image.*/)) {
            $('#first_modal').css({
                display: 'none'
            })
            $('#second_modal').css({
                display: 'flex'
            })

            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat",
                "background-position": "center"

            });
        } else {
            alert('이미지가 아닙니다.');

        }

    }

</script>

</html>
